html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: rgb(8, 1, 52);
}

body{
    font-family: 'Poppins', sans-serif;
}


.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}


.hero::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000ec;
    opacity: 0.8;
    background-color: #DDF4F3;
    opacity: 0.8;
    background-color: #DDF4F3;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #DDF4F3 4px ), repeating-linear-gradient( #bedbc455, #DDF4F3 );    background-size: 4px 4px;    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: -1;

}

.nav{
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title{
    font-weight: 300;
}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items{
    list-style: none;
}


.nav__links{
    color: rgb(27, 12, 227);
    text-decoration: none;
}

.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img{
    display: block;
    width: 30px;
}

.nav__close{
    display: var(--show,none);
}


.subtitle{
    color: #0000ec;
}

/*body*/
body {
    font-family: Arial, sans-serif;
    background-color: #84E1E7;
    opacity: 0.9;
}

h2 {
    text-align: center;
}

.content {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 80px;
}

form label {
    margin-top: 10px;
}

form input[type="text"],
form input[type="password"] {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

form .checkbox {
    display: flex;
    align-items: center;
}

form .checkbox input {
    margin-right: 10px;
}

form button {
    margin: 10px 0;
    padding: 10px;
}

/*footer*/

footer {
    width: 115%;
    height: 400px;  /* Hace que el footer ocupe la mitad de la altura de la página */
    background-color: navy;
    color: white;
    padding: 10px;
    text-align: center;
    margin-left: -80px;
    display: grid;
    grid-template-areas: 
        "login login login"
        "google facebook newaccount";
    grid-gap: 2+0px;

}



footer button[type="submit"]:nth-child(1) { grid-area: login; }
footer button[type="submit"]:nth-child(2) { grid-area: google; }
footer button[type="submit"]:nth-child(3) { grid-area: facebook; }
footer p { grid-area: newaccount; }

footer button {
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 40px;
}

footer a {
    color: white;
    text-decoration: underline;
}

.login_facebook {
    background-color: #0920c9;
    color: white;
    border-radius: 20px;

}

.login_button{
    background-color: #84E1E7;
    color: white;
    border-radius: 20px;
}

.google_button{
    border-radius: 20px;
}

